body {
    background-color: rgb(205, 158, 255);
}

header {
    background-color: hsl(54, 100%, 92%); 
    padding: 20px;
    text-align: center;
    border-radius: 230px;
    font-style: bold;
    font-size: large;
    font-family:"lucida Handwriting";
}

footer {
    background-color: rgb(183, 123, 248);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin: 20px;
    border-radius:10px;
}

footer:hover{
    background-color: hsl(54, 100%, 92%);

}

.app {
    margin: 20px;
    border-radius: 50px;
    align-items: center;
    color: rgb(238, 237, 167);
    padding: 10px;
    cursor: pointer;
    
}

#taskInput {
    padding: 10px;
    border-radius: 30px;
    width: 500px;
    margin: 10px;
    border: 5px solid #fce699;
}

.addbtn {
    border: 5px solid #eedfa8;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 5px solid #fce699;


}

.addbtn:hover {
    background-color: #9c9b9b;
    border: 5px solid #d2bd73;
}

ul {
    list-style-type: none;
    padding: 10;
    margin: 20px;
    position: relative;
}

li {
    background-color:hsl(54, 100%, 92%);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 40px;
    margin: 20px;
    border: 5px solid #cfa7a7;
    max-width: 300px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
}

.close {
    float: right ;
    cursor: pointer;
    font: 1.2em;
    position:relative;
}

.close:hover {
    color: #f91100; 
    width: 10;
}

.checked {
    text-decoration: line-through;
    color: #524f4f;
    color: rgb(88, 88, 93);
    background-color: rgb(190, 138, 246);
    transition: 0.4s;
    
}

.checkmark {
    margin-right: 20px;
    font-size: 1.2em;
}