body {
    background-color: rgb(205, 158, 255);
}
header {
    background-color: hsl(54, 100%, 92%); 
    padding: 20px;
    text-align: center;
    border-radius: 230px;
    font-style: bold;
    font-size: x-large;
    font-family:"lucida Handwriting";

}
footer {
    background-color: rgb(183, 123, 248);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin: 20px;
    border-radius:10px ;
}
footer:hover{
    background-color: hsl(54, 100%, 92%);

}
h1 {
    margin: 0;
}

.app {
  
    padding: 15px;
    margin: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
}

#taskInput {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    width: 70%;
}

.addbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.addbtn:hover {
    background-color: #bfcbbf; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    background-color:hsl(54, 100%, 92%);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

li:hover {
    
    background-color:rgb(190, 138, 246);
    
}

.close {
    float: right;
    margin-left: 10px;
    cursor: pointer;
    font: 1.2em;
}

.close:hover {
    color: #f91100; 
}

.checked {
    text-decoration: line-through;
    color: #888;
    
}

.checkmark {
    margin-right: 20px;
    font-size: 1.2em;
}