body {
    background-color: rgb(206, 170, 250);
}
header{
    background-color: rgb(253, 239, 193);
    text-align: center;
    padding: 3px;
    border-radius: 120px;

}
h1 {
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Lucida Handwriting";
    font-weight: bold; 

    
}
.R {
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight:lighter; 
}
.p {
    text-align: center;
    background-color: rgb(191, 157, 224);
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;

}


a:link, a:visited{
    background-color: rgb(253, 239, 193);
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 1px 5px;
    bottom:0cm;
    cursor: pointer;
    border-radius: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
}

  
a:hover, a:active {
    background-color: rgb(252, 172, 230);
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}